# EditorConfig is awesome: https://editorconfig.org/

# Top-most EditorConfig file
root = true

# Set default charset and end of line (EOL) style
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Set PHP-specific rules
[*.php]
indent_style = space
indent_size = 4
